{{ ansible_managed | comment }}

ServerRoot {{ apache_server_root }}

Listen {{ apache_listen }}

Include {{ apache_modules_config }}/*.conf

User {{ apache_user }}
Group {{ apache_group }}

ServerAdmin {{ apache_server_admin }}
ServerName {{ apache_server_name }}:{{ apache_listen }}

<Directory />
    AllowOverride none
    Require all denied
</Directory>

DocumentRoot {{ apache_document_root }}

<Directory {{ apache_document_root }}>
    Options {{ apache_document_root_options }}
    AllowOverride {{ apache_document_root_allow_override }}
    Require all granted
</Directory>

<IfModule dir_module>
    DirectoryIndex {{ apache_directory_index }}
</IfModule>

<Files ".ht*">
    Require all denied
</Files>

ErrorLog {{ apache_error_log }}
LogLevel {{ apache_log_level }}

<IfModule log_config_module>
    LogFormat "{{ apache_log_format_combined }}" combined
    LogFormat "{{ apache_log_format_common }}" common

    <IfModule logio_module>
      LogFormat "{{ apache_log_format_combinedio }}" combinedio
    </IfModule>

    CustomLog "{{ apache_custom_log_path }}" {{ apache_custom_log_type }}
</IfModule>

<IfModule mime_module>
    TypesConfig /etc/mime.types
    AddType application/x-compress .Z
    AddType application/x-gzip .gz .tgz
    AddType text/html .shtml
    AddOutputFilter INCLUDES .shtml
</IfModule>

AddDefaultCharset {{ apache_default_charset }}

<IfModule mime_magic_module>
    MIMEMagicFile conf/magic
</IfModule>

EnableMMAP {{ apache_enable_mmap }}
EnableSendfile {{ apache_enable_send_file }}

# Supplemental configuration

IncludeOptional conf.d/*.conf

# VirtualHost configuration

IncludeOptional {{ apache_vhosts_config_dir }}/*.conf
