{{ ansible_managed | comment }}

Listen {{ apache_ssl_port }} https

##
##  SSL Global Context
##
##  All SSL configuration in this context applies both to
##  the main server and all SSL-enabled virtual hosts.
##

SSLPassPhraseDialog     {{ apache_ssl_pass_phrase_dialog }}
SSLSessionCache         {{ apache_ssl_session_cache }}
SSLSessionCacheTimeout  {{ apache_ssl_session_cache }}

SSLRandomSeed startup {{ apache_ssl_random_seed_startup }}
SSLRandomSeed connect {{ apache_ssl_random_seed_connect }}

SSLCryptoDevice {{ apache_ssl_crypto_device }}

##
## SSL Virtual Host Context
##

<VirtualHost _default_:{{ apache_ssl_port }}>

DocumentRoot {{ apache_ssl_document_root }}
ServerName {{ apache_ssl_server_name }}:{{ apache_ssl_port }}

ErrorLog {{ apache_ssl_error_log }}
TransferLog {{ apache_ssl_transfer_log }}
LogLevel {{ apache_ssl_log_level }}

SSLEngine {{ apache_ssl_engine }}

SSLProtocol {{ apache_ssl_protocol }}
SSLCipherSuite {{ apache_ssl_cipher_Suite}}
{% if apache_ssl_proxy_cipher_suite is defined %}
SSLProxyCipherSuite {{ apache_ssl_proxy_cipher_suite }}
{% endif %}
SSLHonorCipherOrder {{ apache_ssl_honor_cipher_order }}
SSLCompression {{ apache_ssl_compression }}

SSLCertificateFile {{ apache_ssl_certificate_file }}
SSLCertificateKeyFile {{ apache_ssl_certificate_key_file }}

{% if apache_ssl_certificate_chain_file is defined %}
SSLCertificateChainFile {{ apache_ssl_certificate_chain_file }}
{% endif %}
{% if apache_ssl_ca_certificate_file is defined %}
SSLCACertificateFile {{ apache_ssl_ca_certificate_file }}
{% endif %}

{% if apache_ssl_custom_vhost_directives_raw is defined %}
{{ apache_ssl_custom_vhost_directives_raw }}
{% endif %}

<FilesMatch "\.(cgi|shtml|phtml|php)$">
    SSLOptions +StdEnvVars
</FilesMatch>
<Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>

BrowserMatch "MSIE [2-5]" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0

CustomLog logs/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

</VirtualHost>

{% if apache_ssl_use_stapling is defined %}
# OCSP Stapling, only in httpd 2.3.3 and later
SSLUseStapling          {{ apache_ssl_use_stapling }}
SSLStaplingResponderTimeout {{ apache_ssl_stapling_responder_timeout }}
SSLStaplingReturnResponderErrors {{ apache_ssl_stapling_return_responder_errors }}
SSLStaplingCache       {{ apache_ssl_stapling_cache}}
{% endif %}

{% if apache_ssl_custom_global_directives_raw is defined %}
{{ apache_ssl_custom_global_directives_raw }}
{% endif %}
